
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Furniture  Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/furniturelist">Furniture List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/customer">customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/staff">Staff</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact US</a>
          </li>
      </ul>
      
    </div>
  </nav>
  <router-outlet></router-outlet>