 
<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="first-content">
            <h1> WELCOME Furniture Shop</h1>
            <span><em>PERER (PVT)</em></span>
            <div class="primary-button">
                <a href="#services">ABOUT US</a>
            </div>
        </div>
    </div>
</div>


<div class="service-content" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="left-text">
                    <h4>More About PERER </h4>
                    <div class="line-dec"></div>
                    <p>PERERA (PVT ) is best furniture shop  with devivery center and you can apply this shop for get any item. 
                     Thank you.</p>
                    <ul>
                        <li>- Wooden furniture.</li>
                        <li>-  Bamboo furniture.</li>
                        <li>- Wicker or rattan furniture.</li>
                        <li>-  Metal furniture.</li>
                        <li>-  Glass furniture.</li>
                        <li>-  Concrete furniture.</li>
                    </ul>
                   
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4>Wooden furniture.</h4>
                            <div class="line-dec"></div>
                            <p>Furniture has been made in many materials and many styles, but few things have defined it as consistently as wood. ... As a material, wood is generally available, is soft enough to easily work with, light enough to move, and sturdy enough to last.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4>Bamboo furniture.</h4>
                            <div class="line-dec"></div>
                            <p>Bamboo Furniture: The Renewable Hardwood. ... The rustic furniture of the sixties and seventies, made from unmilled bamboo shoots and poles, is still available. There is also a new face to this type of furniture as well. Milled, sanded and finished bamboo furniture rivals any hardwood furniture in durability and beauty.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4>Wicker or rattan furniture.</h4>
                            <div class="line-dec"></div>
                            <p>The defining difference between the two is that rattan is a material whereas wicker is a style of weave. For example, there are many choices of garden furniture that use a wicker rattan weave. That simply means the physical material the furniture is composed of is rattan, and the weave style is wicker.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4>Metal furniture.</h4>
                            <div class="line-dec"></div>
                            <p>Metal furniture is a type of furniture that uses metal parts in its construction. There are various types of metal that can be used, such as iron, Carbon steel, aluminium, and stainless steel.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4>Glass furniture.</h4>
                            <div class="line-dec"></div>
                            <p>Glass is a very popular material when it comes to furniture, almost as popular as wood. It's widely used in modern designs because of its simplicity, versatility and capacity to to look delicate and sophisticated without sacrificing durability and strength.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <h4> Concrete furniture.</h4>
                            <div class="line-dec"></div>
                            <p>The added durability of concrete means they can be placed indoors or outdoors, leading to many being located in local parks and community areas. Concrete furniture design is evolving rapidly and cement furniture is making an appearance inside the contemporary home.</p>
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#home">Persional Link  Dalin Aranga</a>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/Python-FutureMind-104388011418842/insights/?section=navLikes"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/DalinAranga"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/dalin-aranga-a669a61a2/?originalSubdomain=lk"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://accounts.google.com/b/0/AddMailService"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/email/settings/14046981"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="https://github.com/dalin-aranga"><i class="fa fa-github"></i></a></li>
                    
                    
                </ul>
                <p>Web Project &copy; 2020 Company Name 
        
                - Create: <a rel="nofollow noopener" href="https://templatemo.com"><em>Perera M.D.A</em></a></p>
            </div>
        </div>
    </div>
</footer>