<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="first-content">
            <h1> ABOUT US</h1>
            <span><em>PERER (PVT)</em></span>
            <div class="primary-button">
                <a href="#services">ABOUT US</a>
            </div>
        </div>
    </div>
</div>







<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#home">Persional Link</a>
                </div>
                <ul>
                    <li><a href="https://www.facebook.com/Python-FutureMind-104388011418842/insights/?section=navLikes"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/DalinAranga"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/dalin-aranga-a669a61a2/?originalSubdomain=lk"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://accounts.google.com/b/0/AddMailService"><i class="fa fa-google"></i></a></li>
                    <li><a href="https://stackoverflow.com/users/email/settings/14046981"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="https://github.com/dalin-aranga"><i class="fa fa-github"></i></a></li>
                    
                    
                </ul>
                <p>Web Project &copy; 2020 Company Name 
        
                - Create: <a rel="nofollow noopener" href="https://templatemo.com"><em>Perera M.D.A</em></a></p>
            </div>
        </div>
    </div>
</footer>